apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: {{ app_name }}
  namespace: {{ app_namespace }}
spec:
  serviceName: {{ app_name }}
  replicas: 1
  selector:
    matchLabels:
      app: {{ app_name }}
  template:
    metadata:
      labels:
        app: {{ app_name }}
    spec:
      containers:
        - name: {{ app_name }}
          image: {{ app_image }}
          ports:
            - containerPort: {{ app_port }}
          env:
            - name: POSTGRES_USER
              value: "{{ db_user }}"
            - name: POSTGRES_DB
              value: "{{ db_name }}"
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ app_name }}-secret
                  key: password
          volumeMounts:
            - name: data
              mountPath: /var/lib/postgresql
  volumeClaimTemplates:
    - metadata:
        name: data
      spec:
        accessModes: [ ReadWriteOnce ]
        storageClassName: longhorn
        resources:
          requests:
            storage: 10Gi              
